.KOW {
  text-align: center;
  line-height: 2.5cm;
}

.Instagram {
  text-align: center;
  font-size: 20px;
  line-height: 0.6cm;
  background-color: slateblue;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Twitter {
  text-align: center;
  font-size: 20px;
  line-height: 0.6cm;
  background-color: blue;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Youtube {
  text-align: center;
  font-size: 20px;
  line-height: 0.6cm;
  background-color: red;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Donate {
  text-align: center;
  font-size: 20px;
  line-height: 0.6cm;
  background-color: yellow;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Github {
  text-align: center;
  font-size: 20px;
  line-height: 0.6cm;
  background-color: black;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Matematika {
  text-align: center; 
  background-color: orange;
  width: 9cm;
  height: 1.5cm;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}