@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  background-color: red;
}

.tweet {
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.aboutme {
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.social {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.donate {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.downloadmenu {
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
} 

.download-1-title {
  /* margin-top: 110px; */
  background-color: white;
  width: 95%;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-1-description {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-1-language {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-1-level {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-1-download {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -100px;
}

.download-2-title {
  /* margin-top: 110px; */
  background-color: white;
  width: 95%;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-description {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-note {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-escape {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-screenshot {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-install {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-2-download {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
  position: none;
}

.download-3-title {
  /* margin-top: 110px; */
  background-color: white;
  width: 95%;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-3-description {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-3-note {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-3-screenshot {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

.download-3-download {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
  position: none;
}

.maintenance {
  margin-top: 110px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

a.button {
  z-index: 0;
  padding: 5px 35px;
  background-color: #9EEBED;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  position: relative;
  text-decoration: none;
  color: black;
}

/* MENU */

nav {
  z-index: 3;
  float: center;
  padding-left: 5px;
  width: 95%;
  background: #fff;
  margin-top: 5px;
  border-color: black;
  border-style: solid;
  margin-bottom: -100px;
}

nav label {
  color: black;
  display: block;
  cursor: pointer;
  padding-left: 1px;
}

.button span {
  float: center;
  line-height: 20px;
  transition: 0.5s;
  z-index: 3;
}

.button span.rotate {
  z-index: 3;
  transform: rotate(-180deg);
}

nav ul {
  float: left;
  margin-top: 1px;
  position: absolute;
  display: block;
  background: #fff;
  list-style: none;
  color: black;
  width: 95%;
  border-color: black;
  border-style: solid;
  display: none;
  z-index: 5;
}

[id^=btn]:checked+ul {
  display: block;
  z-index: 5;
}

/*
nav .menu:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: white;
  border-color: black;
  border-style: solid;
  top: -10px;
  transform: rotate(45deg);
  z-index: -5;
}*/

nav ul li {
  line-height: 40px;
  cursor: pointer;
  border-color: black;
  border-style: solid;
}

nav ul li label {
  font-size: 18px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

input {
  display: none;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: red;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: .0s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
