body {
  background-color: #90EE90;
}
.aboutme {
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.social {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.donate {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-1-title {
  /* margin-top: 110px; */
  background-color: floralwhite;
  width: 95%;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-1-description {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-1-language {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-1-level {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-1-download {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -100px;
}
.download-2-title {
  /* margin-top: 110px; */
  background-color: floralwhite;
  width: 95%;
  text-align: center;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-description {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-note {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-escape {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-screenshot {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-install {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
.download-2-download {
  margin-top: 110px;
  background-color: floralwhite;
  width: 95%;
  text-align: left;
  border-color: black;
  border-style: solid;
  padding-left: 5px;
  margin-bottom: -100px;
}
a.button{
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
}
a:nth-child(2) {
  background: linear-gradient(90deg,#755bea,#ff72c0);
}
span {
  position: absolute;
  background: #fff;
  transform: translate(50%,50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}
/* From uiverse.io by @alexroumi */
button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}